<h1>STYLIST: "<%= @stylist.name() %>"</h1>

<form action="/edit_stylist/<%= @stylist.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">change profile name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">UPDATE</button>
</form>
<br>
<h3>HIRE DATE:</h3><h4> <%= @hire_date %></h4>
<h3>HOURS THIS WEEK:</h3><h4> <%= @hours %></h4>
<br>
<form action="/stylists/<%= @stylist.id() %>" method="post">
  <input name="_method" type = "hidden" value="delete">
  <button type="submit">TERMINATE</button>
</form>
<br>
<br>
<h4><%= @stylist.name() %>'s Clients</h4>
<% if @stylist.client_list().any?() %>

<ul>
  <% @stylist.client_list().each() do |client| %>
  <li><a href="/clients/<%= client.id() %>"><%= client.name() %></a></li>
  <% end %>
</ul>

<% else %>
<p>n/a</p>
<% end %>


<form action="/clients" method="post">
  <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">

  <label for="name">ADD NEW CLIENT:</label>
  <input id="name" name="name" type="text">
  <button type="submit">ADD</button>
</form>

<br>
<br>
<a href="/">HOME</a>
